*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

/*Landing section*/
.land{
    background-color: #1e1e1e;
    color: #E5e7eb;
    min-height: 100vh;
    padding: 2vh 0 2vh;
    gap: 2vh;
    display: flex; /*divides header and main*/
    flex-direction: column;
    align-items: center; /*centers horizontally*/
}
.land header, 
.land main{
    width: 72vw;
    display: flex; /*Divides nav from h2 and tex from img*/ 
    justify-content: space-between;
    align-items: center;
}
.land main{
    margin: auto 0px;
    gap: 2vw; /*Creates a nice space between the text and the image>*/
}
main > *{
    flex: 0 1 40vw; /*sets specific widths for img and .text */
}
header .logo{
    font-size: 26px;
    font-style: italic;
    font-weight: bold;
    text-shadow: 10px 10px 10px black;
}
ul{
    list-style: none;
    display: flex;
    gap: 30px;
}
a{
    text-decoration: none;
    color: #e5e7eb;
}
a:hover{
    text-decoration: underline;
    color: #e5e7eb;
}
main .text h1{
    font-size: 36px;
    margin-bottom: 0.5vh;
    text-shadow: 2px 4px 6px black;

}
main .text h3{
    margin-bottom: 1vh;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
}
main .text button{
    margin-top: 2vh;
}
button{
    color: whitesmoke;
    font-size: 1rem;
    font-weight: 900;
    background-color: rgb(47, 120, 255);
    padding: 1vh;
    border-radius: 1vh;
    border-color: rgb(47, 120, 255);
}
main img{
    width: 400px;
    flex: 0 0 0;
}
/*about section*/
#about{
    padding: 2vh 0 2vh;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 70vh;
}
#about .text{
    flex-basis: 400px;
}
#about .text h1{
    font-size: 36px;
    text-shadow: 2px 4px 6px #c8c9ca;
    margin-bottom: 0.5vh;
}
#about img{
    width: 300px;
}
/*projects section*/
#notable-projects{
    background-color: #e5e7eb;
    padding: 2vh 0 2vh;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;  
}
#notable-projects h1{
    font-size: 36px;
    text-shadow: 2px 4px 6px #aaaaaa;
    text-align: center;
}

#notable-projects .projects{
    flex-wrap: wrap;
    display: flex;
    justify-content: center; /*for some reason, i couldn't center this thing just using the parent element, so I'm doing it this way instead*/
    gap: 5vw;
    
}
.projects div{
    flex: 0 1 200px;
}
.projects div img{
    height: 150px;
    width: 150px;
    padding-bottom: 1vh;
}
/*contact section*/
#contact{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}
#contact article{
    background-color: rgb(47, 120, 255);
    border-radius: 10px;
    padding: 5vh 10vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
article .text{
    color: white;
    flex: 0 1 35vw;     
}
article .text h1{
    font-size: 26px;
    padding-bottom: 0.5vh;
}
article button{
    border-color: white;
    border-width: 2px;
}

/*footer*/
footer{
    background-color: #1e1e1e;
    color: #E5e7eb;
    display: flex;
    padding: 3vh 0;
    justify-content: center;
    gap: 5vw;
}