@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
body{
    font-size: 18px;
    margin: 0px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

/*first section*/
.first-section{
    color: #E5e7eb;
    background-color: #1e1e1e;
    box-sizing: border-box;
    padding-top: 2vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#header, .main-landing-content{
    display: flex;
    width: 74vw;
    justify-content: space-between;
}
.main-landing-content{
    align-items: center;
}
#header .logo, .first-section-title, button{
    color: white;
    font-weight: bold;
}
#header .logo{ 
    font-family: 'Share Tech', sans-serif;
    font-size: 50px;
    text-shadow: 2px 4px 6px black;
    font-style: italic; 
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1vw;
}
a{
    color: #E5e7eb;
    text-decoration: none;  
}
a:hover{
    color:cornflowerblue;
    text-decoration: underline;
}
.main-landing-content{
    margin: auto 0;
}
.main-landing-content .text{
    width: 38vw;
}
.first-section-title{
    font-size: 44px;
}
.slogan{
    height: 6vh;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
}
.presentation{
    line-height: 4vh;
}
.landing-image{
    width: 300px;
}
/*Second section*/
.second-section{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.second-section .title{
    color: #1e1e1e;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 5vh;
}

.random-information{
    width: 77vw;
    margin: 0px auto;
    display: flex;
    justify-content: space-evenly;

}
.random-information .item{
    color: #4e4e4e;
    flex-basis: 15vw;
}
.random-information .item img{
    height: 150px;
    width: 150px;
}
/*Third section*/
.third-section{
    background-color: #e5e7eb;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quote{
    color: #444b55;
    font-family: 'Roboto';
    font-size: 36px;
    font-style: italic;
    width: 55vw;
}
.citation{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 900;
    text-align: end;
}
/*fourth section*/
.fourth-section{
    display: flex;
    height: 45vh;
    align-items: center;
    justify-content: center;
}
.container{
    color: white;
    background-color: #464646;
    box-sizing: border-box;
    width: 70vw;
    height: 20vh;
    padding: 37px 80px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.container button{
    background-color: cornflowerblue;
    border: cornflowerblue 1px solid;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
}
.text .title{
    font-weight: bold;
    font-size: 24px;
}
/*Footer*/
.fifth-section{
    color: #E5e7eb;
    background-color: #1e1e1e;
    text-align: center;
    padding: 2.5vh;
}

